@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    margin: 0;
}

$primary-color: #252529;

$secondary-color: #F1F0EA;

